@font-face {
  font-family: "iranSans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/IRANSans_Bold.ttf");
}
@font-face {
  font-family: "iranSans";
  font-style: normal;
  font-weight: light;
  src: url("../fonts/IRANSans_Light.ttf");
}

@font-face {
  font-family: "iranSans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/IRANSans_Medium.ttf");
}

@font-face {
  font-family: "iranSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IRANSans_UltraLight.ttf");
}
@font-face {
  font-family: "iranSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IRANSans.ttf");
}
