.top-section {
  background-image: url(../../images/TopsectionBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1200px;
  color: white;
  font-weight: 500;
  padding-top: 16px;
  header {
    min-height: 60px;
    background-color: $light_black_bg;
    border-right: 10px solid $yellow;
    margin-bottom: 50px;
    //background-color: red;
    &.fixed-nav {
      padding-top: 0;
      padding-bottom: 0;
      position: fixed !important;
      z-index: 9999;
      left: 0;
      top: 0;
      width: 100%;
      min-height: 60px;
      transition: all ease-out 0.3s;
      .register-link {
        display: none;
      }
      .logo {
        top: 4px;
      }
    }
    .logo {
      position: absolute;
      z-index: 1;
      right: 9%;
      top: 9px;
      @media screen and (min-width: 1400px) {
        right: 8%;
      }
      @media screen and (max-width: 1199px) {
        right: 11%;
      }
      @media screen and (max-width: 575px) {
        right: 6.8%;
      }
      @media screen and (max-width: 412px) {
        right: 10%;
      }
    }
    .register-link {
      position: absolute;
      background: $yellow;
      padding: 5px 20px;
      left: 9.7%;
      top: 17px;
      font-size: 14px;
      z-index: 1;
      color: $font-color;
      text-decoration: none;
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
    .navbar {
      min-height: 65px;
      padding-right: 175px;
      @media screen and (max-width: 991px) {
        padding-right: 133px;
      }
      @media screen and (max-width: 767px) {
        padding-right: 112px;
      }
      @media screen and (max-width: 575px) {
        padding-right: 87px;
      }

      ul {
        li {
          padding: 3px 30px;
        }
      }
      .navbar-toggler {
        position: absolute;
        left: 4%;
        border-color: none;
        outline: 0;
        top: 12px;
        .navbar-toggler-icon {
          img {
            width: 30px;
          }
        }
      }

      a {
        color: $white;
        font-size: 16px;
        transition: all 100ms ease;
        @media screen and (max-width: 575px) {
          font-size: 12px;
        }
        &:hover {
          border-bottom: 2px solid $yellow;
        }
      }
    }
  }
  .visible-phone {
    @media screen and (min-width: 575.999px) {
      display: none;
    }
    h3 {
      text-align: center;
      padding-bottom: 10px;
      font-size: 26px;
      &:nth-child(2) {
        padding-right: 104px;
      }
    }
    @media screen and (max-width: 575px) {
      margin-top: 10%;
    }
  }
  .images-box {
    text-align: center;
    position: relative;
    align-items: center;
    @media screen and (min-width: 1400px) {
      margin-top: 8%;
    }
    @media screen and (max-width: 575px) {
      margin-top: 4%;
    }
    .continue-link {
      position: absolute;
      left: 50%;
      bottom: 4%;
      z-index: 1;
      @media screen and (max-width: 991px) {
        bottom: -16%;
      }
      @media screen and (max-width: 575px) {
        bottom: -18%;
      }
      .mouse-desktop {
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
      .mouse-phone {
        @media screen and (min-width: 767.99px) {
          display: none;
        }
      }
    }
    .visible-sm {
      @media screen and (max-width: 575px) {
        display: none;
      }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        margin-bottom: 100px;
      }
    }
    .style-phone {
      @media screen and(max-width:575px) {
        position: absolute;
        right: 0;
        z-index: 1;
        width: 45%;
        top: 233px;
      }
      @media screen and(max-width:450px) {
        top: 184px;
      }
      @media screen and(max-width:400px) {
        top: 164px;
      }
      @media screen and(max-width:360px) {
        top: 146px;
      }
    }
    .pr-span {
      padding-right: 20px;
    }
    h3 {
      font-size: 35px;
      text-align: right;
      padding-right: 97px;
      padding-bottom: 15px;
      &:nth-child(2) {
        padding-bottom: 60px;
        padding-right: 170px;
      }
      @media screen and (max-width: 1199px) {
        font-size: 25px;
        padding-bottom: 1px;
        &:nth-child(2) {
          padding-bottom: 20px;
          padding-right: 120px;
        }
      }
      @media screen and (max-width: 991px) {
        font-size: 26px;
        padding-right: 10px;
        &:nth-child(2) {
          padding-bottom: 30px;
          padding-right: 75px;
        }
      }
      @media screen and (max-width: 767px) {
        font-size: 18px;
        &:nth-child(2) {
          padding-right: 58px;
        }
      }
    }
    .padding-phone {
      @media screen and (max-width: 767px) {
        padding-top: 20px;
      }
      @media screen and (max-width: 576px) {
        padding-top: 0;
        width: 90%;
      }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        margin-top: 137px;
      }
    }
  }
  .gift-descriptopn {
    width: 100%;
    margin: 0 auto;
    background-color: $light_black_bg;
    position: relative;
    margin-top: 90px;

    @media screen and (max-width: 1200px) {
      width: 95%;
    }
    @media screen and (min-width: 992px) and (max-width: 1054px) {
      width: 90%;
    }
    @media screen and (max-width: 767px) {
      width: 87%;
    }
    .vin-code {
      color: $yellow;
      padding: 0 4px;
    }
    img {
      position: absolute;
      right: -6.8%;
      top: -16%;
      @media screen and (min-width: 1399px) and (max-width: 1500px) {
        right: -3%;
      }
      @media screen and (max-width: 991px) {
        width: 76px;
        top: -31%;
        right: -3%;
        bottom: 0;
      }
      @media screen and (max-width: 767px) {
        width: 45px;
        top: -16%;
      }
      @media screen and (max-width: 412px) {
        top: -15%;
      }
      @media screen and (max-width: 375px) {
        top: -13%;
      }
      @media screen and (max-width: 360px) {
        top: -11%;
      }
      @media screen and (max-width: 320px) {
        top: -9%;
      }
    }
    .title {
      position: absolute;
      top: -12%;
      right: 9%;
      font-size: 35px;
      @media screen and (max-width: 1199px) {
        right: 15%;
      }
      @media screen and (max-width: 991px) {
        font-size: 18px;
        top: -7%;
        right: 12%;
      }
      @media screen and (max-width: 575px) {
        font-size: 13px;
        top: -4%;
        right: 16%;
      }
      @media screen and (max-width: 320px) {
        top: -3%;
      }
    }
    p {
      font-size: 18px;
      line-height: 40px;
      padding: 71px 150px 43px 33px;
      @media screen and (max-width: 991px) {
        font-size: 14px;
        padding: 36px 70px 23px 35px;
      }
      @media screen and (max-width: 767px) {
        padding: 30px;
      }
      @media screen and (max-width: 575px) {
        font-size: 10px;
        padding: 36px 50px 23px 35px;
        text-align: justify;
      }
    }
  }
  .mouse-box {
    text-align: center;
  }
  .tringle-style {
    width: 0;
    height: 0;
    content: "";
    z-index: 2;
    border-top: 302px solid transparent;
    border-bottom: 302px solid transparent;
    position: absolute;
    bottom: 0;
    top: 0;
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      border-top: 300px solid transparent;
      border-bottom: 300px solid transparent;
    }
    @media screen and (max-width: 991px) {
      border-top: 263px solid transparent;
      border-bottom: 263px solid transparent;
      top: 53%;
    }
    @media screen and (max-width: 767px) {
      border-top: 245px solid transparent;
      border-bottom: 245px solid transparent;
      top: 47%;
    }
    @media screen and (max-width: 380px) {
      top: 50%;
    }
    @media screen and (max-width: 370px) {
      top: 55%;
    }
  }
  .register {
    margin-top: 66px;
    padding: 75px;
    margin-bottom: 50px;
    background-color: $light_black_bg;
    padding-bottom: 40px;
    .star-red {
      color: $red;
      font-size: 15px;
      padding-right: 4px;
    }
    .error-box {
      font-size: 12px;
      color: $red;
      padding-right: 12px;
      direction: rtl;
    }
    @media screen and (max-width: 991px) {
      padding: 50px;
    }
    @media screen and (max-width: 767px) {
      padding: 44px 29px;
      margin-top: 30px;
    }
    @media screen and (max-width: 575px) {
      padding: 33px 16px;
    }
    position: relative;

    &::after {
      @extend .tringle-style;
      border-right: 75px solid $black;
      right: 0;
      @media screen and (max-width: 991px) {
        border-right: 50px solid $black;
      }
      @media screen and (max-width: 767px) {
        border-right: 25px solid $black;
      }
    }
    &::before {
      @extend .tringle-style;
      border-left: 75px solid $black;
      left: 0;
      @media screen and (max-width: 991px) {
        border-left: 50px solid $black;
      }
      @media screen and (max-width: 767px) {
        border-left: 25px solid $black;
      }
    }
    .register-description {
      background-color: rgba(0, 0, 0, 0.43);
      border-right: 4px solid $yellow;
      padding: 80px 50px;
      @media screen and (min-width: 992px) and (max-width: 1199px) {
        padding: 55px 17px;
      }
      @media screen and (max-width: 991px) {
        padding: 50px;
      }
      @media screen and (max-width: 767px) {
        padding: 30px 10px;
      }
      h4 {
        line-height: 30px;
        padding-bottom: 30px;
        font-size: 16px;
        @media screen and (max-width: 575px) {
          font-size: 12px;
          text-align: justify;
        }
      }
      ul {
        list-style: none;
        padding-right: 15px;
        @media screen and (max-width: 575px) {
          padding: 15px;
        }
        li {
          line-height: 30px;
          font-size: 13px;
          font-weight: normal;
          @media screen and (max-width: 575px) {
            font-size: 9px;
            text-align: justify;
          }
          &::before {
            content: "\25e6";
            color: $yellow;
            font-weight: bold;
            display: inline-block;
            margin-left: 10px;
            vertical-align: middle;
            font-size: 35px;
            @media screen and (max-width: 575px) {
              font-size: 25px;
            }
          }
        }
      }
    }
    .register-form {
      min-height: 483px;
      h3 {
        font-size: 18px;
        @media screen and (max-width: 991px) {
          text-align: center;
        }
      }
      p {
        font-weight: normal;
        font-size: 12px;
        @media screen and (max-width: 991px) {
          text-align: center;
        }
      }
      form {
        font-weight: normal;
        font-size: 13px;
        @media screen and (max-width: 575px) {
          font-size: 10px;
        }
        .vin-input-group {
          position: relative;
          .vin-guide-btn {
            background-color: transparent;
            border: 0;
            color: $font-color;
            font-size: 12px;
            text-align: right;
            font-weight: 500;
            text-decoration: underline;
            &:focus {
              outline: 0;
              box-shadow: none;
            }
          }

          .notice-vin {
            a {
              color: $font-color;
              text-decoration: underline;
            }
            width: 311px;
            height: 145px;
            background: $yellow;
            position: absolute;
            top: 23%;
            right: -83%;
            font-size: 13px;
            font-weight: 500;
            color: $font-color;
            padding: 20px;
            line-height: 25px;
            visibility: hidden;
            transition: all ease 0.5s;
            @media screen and (min-width: 1400px) {
              right: -66%;
            }
            @media screen and (max-width: 1199px) {
              right: -106%;
            }
            @media screen and (max-width: 991px) {
              z-index: 10000;
              right: 6%;
              top: 124%;
              box-shadow: 0 0 11px $black;
            }
            @media screen and (max-width: 757px) {
              width: 241px;
              padding: 10px 20px;
              height: 126px;
              font-size: 10px;
            }
            @media screen and (max-width: 360px) {
              width: 190px;
            }
            &::before {
              content: "";
              position: absolute;
              right: 99%;
              top: 19px;
              width: 0;
              height: 0;
              border-top: 13px solid transparent;
              border-right: 17px solid $yellow;
              border-bottom: 13px solid transparent;
              @media screen and (max-width: 991px) {
                right: 6%;
                top: -20px;
                transform: rotate(90deg);
              }
            }
            .modal-dialog {
              padding-top: 3%;
            }
            .btn-close-modal {
              background-color: $yellow;
              color: $font-color;
            }
          }
          &:hover {
            .notice-vin {
              visibility: visible;
            }
          }
        }

        .form-control {
          width: 100%;
          border-radius: 0;
        }
        .check-submit {
          margin-top: 40px;
          .form-check {
            padding-right: 32px;
          }
          button {
            color: $black;
            font-weight: 500;
            font-size: 16px;
            border-radius: 0;
            background-color: $yellow;
            border-color: transparent;
            width: 100%;
            @media screen and (max-width: 575px) {
              font-size: 12px;
            }
          }
          .container-checkBox {
            display: block;
            position: relative;
            padding-top: 3px;
            margin-bottom: 12px;
            padding-right: 21px;
            cursor: pointer;
            font-size: 12px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
            }
          }

          .checkmark {
            position: absolute;
            top: 0;
            right: -5%;
            height: 23px;
            width: 23px;
            background-color: white;
            border: 2px solid $yellow;
          }

          .container-checkBox {
            &:hover input ~ .checkmark {
              background-color: white;
            }

            input:checked ~ .checkmark {
              background-color: $yellow;
            }
          }

          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }

          .container-checkBox {
            input:checked ~ .checkmark:after {
              display: block;
            }

            .checkmark:after {
              left: 7px;
              top: 2px;
              width: 7px;
              height: 13px;
              border: solid white;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }
      }
      .register-main {
        min-height: 483px;
        padding-right: 40px;
        @media screen and (max-width: 991px) {
          padding-right: 0;
          margin-top: 50px;
        }
      }
      .security-code {
        padding-top: 136px;
        min-height: 483px;
        padding-right: 40px;
        display: none;

        .submit-code {
          button {
            float: left;
            width: 35%;
            @media screen and (max-width: 575px) {
              width: 50%;
            }
          }
        }
      }
      .succes-register {
        padding-top: 84px;
        text-align: center;
        display: block;
        min-height: 489px;
        display: none;
        p {
          padding-top: 20px;
          text-align: center;
          font-size: 13px;
        }
        .succes-code {
          width: 50%;
          background-color: $white;
          color: $black;
          margin: 0 auto;
          padding: 10px 20px;
          margin-top: 30px;
          font-weight: bold;
          @media screen and (max-width: 1199px) {
            width: 63%;
            font-size: 14px;
          }
          @media screen and (max-width: 370px) {
            width: 80%;
          }
          span {
            &:nth-child(2) {
              padding-right: 10px;
            }
          }
        }
        .hidden {
          display: none;
        }

        svg {
          width: 20px;
          height: 20px;
          margin-right: 7px;
        }

        button,
        .button {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          height: auto;
          padding-top: 8px;
          padding-bottom: 8px;
          color: #777;
          text-align: center;
          font-size: 14px;
          font-weight: 500;
          text-decoration: none;
          white-space: nowrap;
          border: 1px solid #ddd;
          cursor: pointer;
        }

        button:hover,
        .button:hover {
          border-color: #cdd;
        }

        .share-button,
        .copy-link {
          padding-left: 30px;
          padding-right: 30px;
        }

        .share-button {
          margin-top: 30px;
          font-size: 10px;
          font-weight: 500;
          border-radius: 0;
          background-color: $yellow;
          &:focus {
            outline: 0;
          }
          border: 0;
          span {
            padding: 0 5px;
          }
        }

        .share-dialog {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: none;
          width: 95%;
          max-width: 500px;
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
          z-index: -1;
          border: 1px solid #ddd;
          padding: 20px;
          border-radius: 4px;
          background-color: white;
          color: #777;
          &.is-open {
            display: block;
            z-index: 2;
          }
          span {
            padding: 0 16px;
          }
        }

        header {
          margin-bottom: 20px;
        }

        .targets {
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
          margin-bottom: 20px;
        }

        .close-button {
          background-color: transparent;
          border: none;
          padding: 10px 0 20px;
          &:focus {
            outline: 0;
          }
        }

        .link {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          border-radius: 4px;
          background-color: #eee;
        }

        .pen-url {
          margin-right: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
