.gifts-section {
  padding-bottom: 0;
  margin-bottom: 0;
}
.gifts {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  font-weight: 500;
  padding: 0 98px 0 87px;
  @media screen and (max-width: 991px) {
    padding: 0 70px;
  }
  @media screen and (max-width: 767px) {
    padding: 10px 51px;
  }
  @media screen and (max-width: 575px) {
    padding: 10px 38px;
  }
  @media screen and (max-width: 360px) {
    padding: 10px 32px;
  }
  .gift-title {
    padding-top: 125px;
    text-align: right;
    @media screen and (max-width: 991px) {
      padding-top: 0;
    }
    h3 {
      font-size: 30px;
      padding-bottom: 15px;
      @media screen and (max-width: 767px) {
        font-size: 23px;
      }
    }
    p {
      font-size: 17px;
      @media screen and (max-width: 767px) {
        font-size: 12px;
      }
    }
  }
  .gift-description {
    .figure1 {
      padding-right: 100px;
      @media screen and (min-width: 1400px) {
        padding-right: 147px;
      }
      @media screen and (max-width: 991px) {
        padding-right: 0;
      }
    }
    .figure3 {
      margin-right: -100px;
      @media screen and (max-width: 991px) {
        margin-right: 0;
      }
    }
    figure {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      figure-img {
        margin-bottom: 0;
      }
      figcaption {
        color: $font-color;
        padding-top: 30px;
        h4 {
          font-size: 20px;
          font-weight: bold;
          @media screen and (max-width: 767px) {
            font-size: 16px;
          }
        }
        p {
          font-size: 16px;
          margin-bottom: 0;
          margin-top: 10px;
          @media screen and (max-width: 767px) {
            font-size: 12px;
          }
        }
        span {
          font-size: 12px;
        }
      }
    }
  }
}
.pantagons-box {
  position: relative;
  .social-app {
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 25%;
    @media screen and (max-width: 991px) {
      left: 32%;
    }
    @media screen and (max-width: 575px) {
      left: 40%;
    }
    @media screen and (max-width: 420px) {
      left: 50%;
    }
    li {
      display: inline-block;
      padding: 0 5px;
      @media screen and (max-width: 360px) {
        padding: 0 3px;
      }
    }
  }
  .triangle {
    width: 0;
    position: absolute;
    height: 0;
    border-bottom: 63px solid $black;
    bottom: 0;
    border-left: 113px solid transparent;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .base {
    background: #fdcb36;
    display: inline-block;
    height: 63px;
    position: relative;
    width: 109px;
    right: 4%;
    opacity: 0.5;
    bottom: -9px;
    &::before {
      border-bottom: 35px solid $yellow;
      border-left: 55px solid transparent;
      border-right: 55px solid transparent;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      top: -35px;
      width: 0;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .base1 {
    background: #fdcb36;
    display: inline-block;
    height: 75px;
    position: absolute;
    width: 176px;
    opacity: 0.5;
    left: 6%;
    z-index: 1;
    bottom: 0;
    @media screen and (max-width: 767px) {
      height: 46px;
      width: 134px;
    }
    &::before {
      border-bottom: 53px solid #fdcb36;
      border-left: 89px solid transparent;
      border-right: 89px solid transparent;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      top: -52px;
      width: 0;
      @media screen and (max-width: 767px) {
        border-left: 68px solid transparent;
        border-right: 68px solid transparent;
      }
    }
  }
  .trapezoid {
    background: $black;
    display: inline-block;
    height: 55px;
    position: absolute;
    bottom: 0;
    width: 167px;
    left: 0;
    @media screen and (max-width: 767px) {
      height: 35px;
      width: 108px;
    }
    &::before {
      border-bottom: 60px solid $black;
      border-left: 0;
      border-right: 169px solid transparent;
      content: "";
      height: 0;
      position: absolute;
      top: -59px;
      width: 0;
      left: 0;
      @media screen and (max-width: 767px) {
        border-bottom: 44px solid #141212;
        border-right: 109px solid transparent;
        top: -43px;
      }
    }
  }
}
footer {
  background-color: $yellow;
  ul {
    list-style: none;
    text-align: center;
    padding-top: 22px;
    padding-right: 0;
    @media screen and (max-width: 767px) {
      padding-top: 10px;
    }
    li {
      display: inline;
      padding: 0 15px;
      @media screen and (max-width: 767px) {
        display: block;
      }
      a {
        font-size: 10px;
        color: $font-color;
        &:hover {
          text-decoration: none;
        }
        @media screen and (max-width: 767px) {
          font-size: 6px;
        }
      }
    }
  }
}
.renault-introduce {
  .renault-introduce-main {
    position: relative;
    padding-right: 130px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 991px) {
      display: block;
      padding-right: 0;
      text-align: center;
      padding: 150px 0 100px;
    }
    .modal-dialog {
      max-width: 90%;
      .modal-header {
        border-bottom: 0;
      }
      .modal-footer {
        border-top: 0;
        button {
          background-color: $yellow;
          border-color: $yellow;
          color: $font-color;
          margin-left: 5%;
        }
      }
      .modal-body {
        padding: 0;
        text-align: center;
      }
      video {
        width: 90%;
        margin: 0 auto;
      }
    }
    .flex-box {
      flex: 40%;
      position: relative;
      z-index: 1;
      @media screen and (max-width: 991px) {
        flex: auto;
      }
      @media screen and (max-width: 575px) {
        padding: 30px;
      }
      button {
        border: 0;
        background-color: transparent;
        &:focus {
          box-shadow: none !important;
        }
        &:active {
          box-shadow: none;
          background-color: transparent;
          border-color: transparent;
        }
      }
    }
    .flex-box1 {
      flex: 60%;
      @media screen and (max-width: 991px) {
        flex: auto;
      }
    }
    h3 {
      background-color: $black;
      font-size: 20px;
      font-weight: bold;
      color: $white;
      position: absolute;
      top: 29.2%;
      left: 0;
      width: 80%;
      height: 16.6%;
      padding-top: 26px;
      padding-right: 360px;
      @media screen and (max-width: 1024px) {
        padding-right: 325px;
      }
      @media screen and (max-width: 991px) {
        width: 100%;
        top: 0;
        margin-top: 60px;
        height: 7%;
        padding-top: 15px;
        padding-right: 0;
      }
      @media screen and (max-width: 575px) {
        font-size: 15px;
        padding-top: 19px;
      }
    }
    p {
      margin-top: 107px;
      font-size: 15px;
      font-weight: 500;
      border-right: 2px solid $black;
      width: 70%;
      padding-right: 16px;
      margin-right: 28px;
      text-align: justify;
      @media screen and (min-width: 1400px) {
        margin-right: 0;
        width: 80%;
      }
      @media screen and (max-width: 1200px) {
        margin-right: 44px;
      }
      @media screen and (max-width: 991px) {
        width: 68%;
        margin: 50px auto;
      }
      @media screen and (max-width: 575px) {
        font-size: 12px;
        width: 70%;
      }
    }
  }
}
