body {
  padding: 0;
  font-family: iranSans;
  font-size: 16px;
  font-weight: normal;
}
a {
  color: $font-color;
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1350px !important;
  }
}
